{% extends 'students/base.html' %}
{% block title %}Удалить студента{% endblock %}
{% block content %}
    <h1 class="mb-4">Удалить студента</h1>
    <div class="card">
        <div class="card-body">
            <p>Вы уверены, что хотите удалить <strong>{{ student.full_name }}</strong>?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Потвердить</button>
                <a href="{% url 'home' %}" class="btn btn-secondary">На главную</a>
            </form>
        </div>
    </div>
{% endblock %}