{% extends 'students/base.html' %}
{% block title %}Редактировать студента{% endblock %}
{% block content %}
    <h1 class="mb-4">Редактировать студента</h1>
    <div class="card">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="full_name" class="form-label">ФИО</label>
                    <input type="text" class="form-control" id="full_name" name="full_name" value="{{ student.full_name }}" required>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <a href="{% url 'home' %}" class="btn btn-secondary">На главную</a>
            </form>
        </div>
    </div>
{% endblock %}